@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
footer .footerbloque {
  display: flex;
  height: 30px;
  width: 20px;
  justify-content: space-around;
  align-items: center;
  color: #272343;
  margin: 20px;
}

footer h6 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.redessociales {
  width: 15%;
  display: flex;
  font-size: 30px;
  text-size-adjust: 30px;
  text-shadow: #2fb39c;
  color: #ffd803;
  margin-bottom: 10px;
}

.redesSociales {
  font-size: 50px;
  text-decoration: solid;
  color: #ffd803;
  margin-bottom: 10px;
}

footer {
  background-color: #ffd803;
  color: #272343;
  border-radius: 8px;
}

.footer-content {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: space-between;
  align-items: flex-end;
  margin: 20px;
}

.footer-content h3 {
  margin: 0;
  padding-bottom: 10px;
}

.footer-content p {
  margin: 0;
  padding-bottom: 10px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-list li {
  margin: 5px 0;
}

.footer-list a {
  color: #272343;
  text-decoration: none;
}

.footer-list a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
}

.footer-bottom p {
  margin: 0;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
body {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #bae8e8;
}

.fondoheader {
  display: flex;
  justify-content: space-between;
  background-color: #bae8e8;
  align-items: center;
}

/* Estilos básicos */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #bae8e8;
  font-family: "Roboto Condensed", sans-serif;
}
nav .logo img {
  max-height: 150px;
}
nav .nav-links {
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  gap: 15px;
}
nav .nav-links li a {
  color: #272343;
  text-decoration: none;
  padding: 8px 15px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: x-large;
}
nav .nav-links li a:hover {
  background-color: rgb(224.25, 244.75, 244.75);
}

/* Estilos responsivos */
#menu-toggle {
  display: none;
}

.menu-icon {
  display: inline-flex;
  cursor: none;
  font-size: 30px;
  color: #272343;
  font-family: "Roboto Condensed", sans-serif;
}

main h1 {
  text-align: center;
  text-size-adjust: 50px;
  font-size: 2rem;
  /* 2 veces el tamaño de fuente base */
}

main h2 {
  font-size: 1.5rem;
  align-content: center;
  /* 1.5 veces el tamaño de fuente base */
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
nav .logo img {
  max-height: 150px;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
.containerforms {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
  align-items: center;
  animation: fadeIn 1s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 5;
  }
}
.containerforms h2 {
  margin-bottom: 15px;
  font-size: 35px;
}
.containerforms p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}
.containerforms a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}
.containerforms a i {
  color: orange;
  margin-right: 10px;
}
.containerforms form .campo,
.containerforms form textarea {
  width: 100%;
  font-size: 15px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  outline: 0px;
}
.containerforms form .campo.textarea,
.containerforms form textarea.textarea {
  max-width: 530px;
  min-height: 140px;
  max-height: 150px;
}
.containerforms form .btnenviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: orange;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}
.containerforms form .btnenviar:hover {
  background: #bae8e8;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
.mokupinicio {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mokupinicio {
  display: flex;
  margin: auto;
  border-radius: 2px;
  align-content: center;
  transition: transform 0.3s ease;
}

.titulopricipal {
  font-size: 80px;
  color: #272343;
  background-color: #ffd803;
  border-radius: 8px;
}

.titulosecundario {
  font-size: 40px;
  color: #272343;
  text-align: center;
}

.colorojofondotransparente {
  text-decoration-color: blueviolet;
  display: flex;
  margin: auto;
  border-radius: 2px;
  border-color: #272343;
}

.texthome {
  display: flex;
  margin: 10px;
  text-align: center;
  text-size-adjust: 20px;
}

#parallax {
  background: #1e9244;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
}

p {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  top: 0;
}
header a img {
  display: flex;
}

nav {
  width: 100%;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40 px;
  max-width: 800px;
  /* Espacio entre la imagen y el texto */
  padding: 20px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.image-container {
  overflow: hidden;
}

.mokupinicio {
  transition: transform 0.3s ease;
  width: 600px;
}

.mokupinicio:hover {
  transform: scale(1.2);
}

.text-container {
  max-width: 600px;
}

.titulosecundario {
  font-size: 24px;
  margin-bottom: 10px;
}

.texthome {
  font-size: 20px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
.carousel-inner > .item > img {
  object-fit: scale-down;
  height: 400px;
  width: 800px;
}

.carousel-container {
  max-width: 800px;
  border-radius: 8px;
  /* Establece el ancho máximo del carrusel */
  margin: auto;
  /* Centra horizontalmente el carrusel */
}

/* Estilos básicos */
.container {
  align-items: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
.grilla {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.fila {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px #ddd 0, 0, 0, 0.1;
  overflow: hidden;
  text-align: center;
  width: 18rem;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  transition: transform 0.3s ease;
}

.card-img-top:hover {
  transform: scale(1.2);
}

.card-body {
  padding: 20px;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Responsiveness */
@media (max-width: 768px) {
  .fila {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: #bae8e8;
    top: 60px;
    left: 0;
  }
  .nav-links li {
    margin: 10px 0;
  }
  .nav-links #menu-toggle:checked + .menu-icon + nav .nav-links {
    display: flex;
  }
  .nav-links .menu-icon {
    display: block;
  }
}
@media (max-width: 768px) {
  .containerforms {
    flex-direction: column;
    align-items: center;
  }
  .containerforms .infoform,
  .containerforms form {
    flex: 1 1 100%;
    max-width: 100%;
  }
  .containerforms .infoform {
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .libros_card {
    flex: auto;
    margin-bottom: 20px;
    flex-direction: column;
  }
  .librosDestacados {
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .card {
    flex: auto;
  }
}
@media (max-width: 480px) {
  .card-title {
    font-size: 1rem;
  }
  .card-text {
    font-size: 0.875rem;
  }
  .btn {
    font-size: 0.875rem;
    padding: 8px 16px;
  }
}
main .banner {
  background: color #ffd803;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%239f0b99' fill-opacity='0.28' fill-rule='evenodd'/%3E%3C/svg%3E");
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  top: 70px;
  background-color: #ffd803;
}

.h2Ofertas {
  text-align: center;
  margin-bottom: 20px;
}

.librosDestacados {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-items: flex-end;
  gap: 20px;
  padding: 20px;
}

.libros_card {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s ease;
}

.libros_card:hover {
  transform: scale(1.05);
}

.image-container {
  overflow: hidden;
}

.tarjetaImg {
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 300px;
}

.tarjetaImg:hover {
  transform: scale(1.2);
}

.sale {
  background-color: crimson;
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.titulosecundario {
  font-size: 24px;
  margin-bottom: 10px;
}

.descripcards {
  font-size: 16px;
  line-height: 1.5;
}

.ver_mas {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.ver_mas:hover {
  background-color: #0056b3;
}

/*# sourceMappingURL=estilo.css.map */
