
@import "../utilidades/variables";
@import "../components/mediasquery";

.carousel-inner > .item > img {
  object-fit: scale-down;
  height: 400px;
  width: 800px;
}

.carousel-container {
  max-width: 800px;
  /* Establece el ancho máximo del carrusel */
  margin: auto;
  /* Centra horizontalmente el carrusel */
}

/* Estilos básicos */
