@import "../utilidades/variables";
@import "../components/mediasquery";

.mokupinicio {
    display: flex;
    margin:auto;
    border-radius: 2px;
    align-content: center;
}

.titulopricipal {
    font-size: 80px;
    color: $primary-color;
    background-color: $secondary-color;
}

.titulosecundario {
    font-size: 40px;
    color: $primary-color;
    text-align: center;
}

.colorojofondotransparente {
    text-decoration-color: blueviolet;
    display: flex;
    margin: auto;
    border-radius: 2px;
    border-color: $primary-color;
}

.texthome {
    display: flex;
    margin: 10px;
    text-align: center;
    text-size-adjust: 20px;
}

#parallax {
    background: #1e9244;
    background-attachment: fixed;
    background-position: center;
    background-size: auto;
}

p {
    text-decoration: none;
    font-size: 30px;
    text-align: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;

    a img {
        display: flex;
    }
}

nav {
    width: 100%;

    ul {
        display: flex;
        justify-content: space-evenly;
    }
}

