
$font-family: "Roboto Condensed", sans-serif;
$background-color: #bae8e8;
$primary-color: #272343;
$secondary-color: #ffd803;
$accent-color: orange;
$link-color: #b60ee8;
$card-border-color: #272343;
$sale-bg-color: crimson;
$sale-text-color: whitesmoke;
$btn-bg-color: #007bff;
$btn-hover-bg-color: #0056b3;
$footer-color: #272343;
$footer-bg-color: #f8f8f8;
$banner-bg-color: #ffd803;
$text-color: #272343;
$font-banner: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$link-bg-color: #2fb39c;
$link-shadow-color: #e3dee8;
$background-color: #bae8e8;
$card-bg-color: #fff;
$card-border-color: #ddd;
$padding: 20px;
$radius: 8px;